<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Blockchain Crypto Exchange, Cryptocurrency Exchange, Bitcoin Trading, Ethereum price trend, BNB, CZ, BTC price, ETH wallet registration, LTC price, Binance, Poloniex, Bittrex - Replicated by Kiisi Felix Destiny"
    />
    <title>PyPredict - Cryptocurrency Predictor</title>
    <meta
      name="description"
      content="Binance cryptocurrency exchange - We operate the worlds biggest bitcoin exchange and altcoin crypto exchange in the world by volume"
    />
    <meta property="og:url" content="https://github.com/kiisi" />
    <link rel="canonical" href="https://github.com/kiisi" />

    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.png" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>

  <body>
    {% block content%} {% endblock%}
  </body>
</html>
